<header>
  <h1>Zenith</h1>
  <p>An Edge Federation</p>
  
  <!-- add by github.com/xujinlai -->
  <nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Overview<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>        
        <li ><a href="/people">People<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>        
      </ul>
    </div>
  </div>
</nav>
  
  <p class="view"><a href="https://github.com/bpln/Zenith">View the Project on GitHub <small>Zenith</small></a></p>
  <ul>
    <li><a href="https://github.com/bpln/Zenith/zipball/master">Download <strong>ZIP File</strong></a></li>
    <li><a href="https://github.com/bpln/Zenith/tarball/master">Download <strong>TAR Ball</strong></a></li>
    <li><a href="https://github.com/bpln/Zenith">Fork On <strong>GitHub</strong></a></li>
  </ul>
</header>